body {
    background-color: lightcyan;
}
#headline {
    font-family: Arial, sans-serif;
    text-align: center;
}

#content {
    text-align: center;
    padding: 6px;
}

li{
    text-align: center;
    height: auto;
    width: 120px;
}
.list-group {
    text-align: center;
}
.headline {
    text-align: center;
}